body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../assets/fontpage.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#home {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: lightslategray;
}
li a {
  float: left;
  display: block;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid black;
  min-width: 60px;
}
li a:hover {
  background-color: rgb(94, 192, 231);

  animation: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes glow {
  50% {
    text-shadow: 0px 0px 10px black;
  }
}
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightslategray;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  border-left: 1px solid black;
}

#header {
  display: flex;
  height: 80px;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 50px 0 0;
}

#content {
  display: flex;
  height: 100%;
  align-items: center;
}

#home-text {
  display: flex;
  padding-left: 160px;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-align: left;
}
.header-text {
  font-size: 100px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(253, 253, 253);
  margin-bottom: 100px;
  margin-right: 30px;
}
.sub-header-text {
  font-size: 32px;
  color: white;
  border: 2px solid orange;
  border-width: 2px;
  text-align: center;
}
