ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: lightslategray;
}
li a {
  float: left;
  display: block;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid black;
  min-width: 60px;
}
li a:hover {
  background-color: rgb(94, 192, 231);

  animation: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes glow {
  50% {
    text-shadow: 0px 0px 10px black;
  }
}
#heading1 {
  border: 2px solid;
  width: 100px;
  background: rgb(243, 243, 243);
  color: rgb(0, 0, 0);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
  padding-left: 5px;
  opacity: 1;
}
#heading2 {
  border: 5px black;
  width: 399px;
  background: rgb(255, 255, 255);
  color: red;
  font-size: 22px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 4rem;
}

#heading2 {
  color: rgb(0, 0, 0);
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 2rem;
}
h2 {
  color: orange;
  font-size: 4rem;
  font: weight 500px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightslategray;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  border-left: 1px solid black;
}

#project-card-image {
  border: 1px solid rgb(0, 0, 0);
 
}

#project-card-title {
}

#project-card-description {
  font-size: 20px;
  color: black;
}

#project-card-link {
  width: 100%;
  font-size: 20px;
  color: black;
  text-decoration: none;



}
#project-card {
  display: flex;
  border: 1px solid lightskyblue;
  padding: 20px;
  align-items: center;
  margin: 20px;
}

p {
}
#card-info {
  margin: 0 30px;
}
#git-button{
border: 1px solid black;  
text-decoration: none;
color:black;
padding: 5px;
}
